@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
nav {
  box-sizing: border-box;
  margin: 10px;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
}

.navbar {
  margin: 3;
  padding: 2 4;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ff416c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ff4b2b,
    #ff416c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ff4b2b,
    #ff416c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}
.logo {
  font-size: 1.5rem;
  margin: 0.5rem;
}

.navbar li {
  display: inline;
  list-style: none;
  color: rgb(121, 110, 97);
}
.navbar li a {
  text-decoration: none;
  color: white;

  display: inline-block;
  margin: 5px;
  padding: 5px;
  background-color: rgba(253, 0, 0, 0.755);
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}
.navbar li a:hover {
  background-color: rgb(255, 102, 0);
  cursor: pointer;
}
