.solid-button2-container {
  display: flex;
  position: relative;
}
.solid-button2-button {
  transition: 0.3s;
}
.solid-button2-button:hover {
  color: #012bff;
  background-color: #ffffff;
}
.solid-button2-root-class-name {
  margin-right: 15px;
}
.solid-button2-root-class-name1 {
  margin-right: 15px;
}
.solid-button2-root-class-name2 {
  margin-right: 15px;
}

.solid-button2-root-class-name4 {
  margin-right: 15px;
}
.solid-button2-root-class-name5 {
  margin-right: 15px;
}
.solid-button2-root-class-name6 {
  margin-right: 15px;
}
.solid-button2-root-class-name7 {
  margin-right: 15px;
}
.solid-button2-root-class-name8 {
  margin-right: 15px;
}
.solid-button2-root-class-name9 {
  margin-right: 15px;
}
.solid-button2-root-class-name10 {
  margin-right: 15px;
}
.solid-button2-root-class-name11 {
  margin-right: 15px;
}
.solid-button2-root-class-name12 {
  margin-right: 15px;
}
.solid-button2-root-class-name13 {
  margin-right: 15px;
}
@media(max-width: 1600px) {
  .solid-button2-button {
    color: #ffffff;
    font-style: normal;
    font-weight: 700;
    border-color: #012bff;
    border-radius: 40px;
    background-color: #012bff;
  }
  .solid-button2-root-class-name3 {
    margin-left: var(--dl-space-space-unit);
  }
}
@media(max-width: 767px) {
  .solid-button2-root-class-name1 {
    margin-top: var(--dl-space-space-unit);
  }
}

.solid-button-container {
  display: flex;
  position: relative;
}
.solid-button-button {
  transition: 0.3s;
}
.solid-button-button:hover {
  color: #CE0000;
  border-color: #CE0000;
  border-width: 1px;
  background-color: #ffffff;
}
.solid-button-root-class-name {
  width: auto;
  height: auto;
  align-self: center;
}

.solid-button-root-class-name3 {
  margin-top: 450px;
  margin-left: 225px;
}
.solid-button-root-class-name4 {
  margin-left: 31px;
}
.solid-button-root-class-name5 {
  margin-top: 450px;
  margin-left: 240px;
  margin-bottom: 450px;
}

@media(max-width: 1600px) {
  .solid-button-button {
    color: #ffffff;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    border-width: 0px;
    border-radius: 20px;
    background-color: #ce0000;
  }
}
@media(max-width: 767px) {
  .solid-button-root-class-name6 {
    margin-top: var(--dl-space-space-unit);
  }
}

.navbar-navbar {
  width: 100%;
  height: 84px;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  position: static;
  max-width: 1000px;
  transition: top 0.3s;
  align-items: center;
  padding-right: 2em;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
}
.navbar-image {
  width: 141px;
  object-fit: cover;
}
.navbar-right-side {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.navbar-links-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.navbar-home {
  color: #000000;
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
}
.navbar-home:hover {
  color: #ff0000;
  text-decoration: underline;
}
.navbar-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.navbar-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 2px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.navbar-text {
  font-size: 14px;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-weight: 500;
  margin-right: 4px;
  vertical-align: middle;
}
.navbar-text:hover {
  color: #9e00ff;
  text-decoration: underline;
}
.navbar-dropdown-arrow {
  transition: 0.3s;
}
.navbar-icon {
  width: 18px;
  height: 18px;
  margin-top: auto;
  margin-bottom: auto;
}
.navbar-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: 4px;
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.navbar-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.navbar-dropdown-toggle-i-society {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 4px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.navbar-dropdown-toggle-i-society:hover {
  fill: #fff;
  color: #ffffff;
  background-color: #000000;
}
.navbar-text1 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.navbar-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.navbar-dropdown-toggle-japanese-cultural-society {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 4px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.navbar-dropdown-toggle-japanese-cultural-society:hover {
  fill: #fff;
  color: #fff;
  background-color: #000000;
}
.navbar-text2 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.navbar-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.navbar-dropdown-toggle-i-society1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 4px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.navbar-dropdown-toggle-i-society1:hover {
  fill: #fff;
  color: #ffffff;
  background-color: #000000;
}
.navbar-text3 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.navbar-dropdown3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.navbar-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 4px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.navbar-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #000000;
}
.navbar-text4 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.navbar-dropdown4 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.navbar-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 4px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.navbar-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #000000;
}
.navbar-text5 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.navbar-dropdown5 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.navbar-dropdown-toggle3 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 4px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.navbar-dropdown-toggle3:hover {
  fill: #fff;
  color: #fff;
  background-color: #000000;
}
.navbar-text6 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.navbar-gallery {
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.navbar-gallery:hover {
  color: #ff0000;
  text-decoration: underline;
}
.navbar-about {
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.navbar-about:hover {
  color: #ff0000;
  text-decoration: underline;
}
.navbar-navlink6 {
  display: contents;
}
.navbar-component {
  text-decoration: none;
}
.navbar-navlink7 {
  display: contents;
}
.navbar-component1 {
  text-decoration: none;
}

@media(max-width: 1600px) {
  .navbar-navbar {
    width: 1167px;
  }
  .navbar-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
  }
  .navbar-dropdown-list {
    left: 0%;
    display: none;
  }
  .navbar-text1 {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }
  .navbar-text2 {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }
  .navbar-text3 {
    font-size: 14px;
  }
  .navbar-text4 {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }
  .navbar-text5 {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }
  .navbar-text6 {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }
}
@media(max-width: 1200px) {
  .navbar-dropdown-list {
    display: none;
  }
}
@media(max-width: 767px) {
  .navbar-right-side {
    display: none;
  }
}

.footer-footer {
  color: var(--dl-color-gray-white);
  width: 100%;
  height: 226px;
  display: flex;
  padding: var(--dl-space-space-tripleunit);
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.footer-menu {
  width: 100%;
  display: flex;
  max-width: 1000px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.footer-links-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.footer-link {
  display: contents;
}
.footer-image {
  width: 180px;
  height: 71px;
  object-fit: cover;
  text-decoration: none;
}
.footer-container {
  display: flex;
  align-items: flex-start;
  margin-left: 100px;
  flex-direction: column;
}
.footer-navlink {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-navlink1 {
  text-decoration: none;
}
.footer-follow-container {
  display: flex;
  align-items: center;
  margin-left: 50px;
  flex-direction: column;
  justify-content: space-between;
}
.footer-text {
  padding-bottom: var(--dl-space-space-halfunit);
}
.footer-icons-container {
  width: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.footer-link1 {
  display: contents;
}
.footer-icon {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.footer-link2 {
  display: contents;
}
.footer-icon2 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.footer-link3 {
  display: contents;
}
.footer-icon4 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.footer-link4 {
  display: contents;
}
.footer-image1 {
  width: 100px;
  object-fit: cover;
  text-decoration: none;
}

@media(max-width: 1600px) {
  .footer-menu {
    width: 1471px;
    margin-left: 200px;
  }
  .footer-follow-container {
    margin-left: 70px;
  }
  .footer-image1 {
    width: 163px;
    height: 36px;
    margin-top: 160px;
    margin-left: 300px;
  }
}
@media(max-width: 767px) {
  .footer-menu {
    flex-direction: column;
  }
  .footer-links-container {
    margin-top: var(--dl-space-space-tripleunit);
    margin-bottom: var(--dl-space-space-tripleunit);
    justify-content: space-between;
  }
}
@media(max-width: 479px) {
  .footer-links-container {
    margin-top: var(--dl-space-space-doubleunit);
    align-items: flex-start;
    justify-content: flex-start;
  }
  .footer-container {
    height: 100%;
    align-items: flex-start;
    margin-left: 50px;
  }
  .footer-navlink {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .footer-navlink1 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .footer-follow-container {
    margin-left: 0px;
  }
}

.communication-society-gallery-page-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.communication-society-gallery-page-hero {
  width: 100%;
  display: flex;
  padding: 48px;
  position: relative;
  min-height: 80vh;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-color: #D9D9D9;
  background-image: url('https://images.unsplash.com/photo-1533090161767-e6ffed986c88?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDV8fGxhbXAlMjBtaW5pbWFsaXNtfGVufDB8fHx8MTYyNjE2NDMxOA&ixlib=rb-1.2.1&w=1500');
  background-position: bottom;
}
.communication-society-gallery-page-container01 {
  display: flex;
  max-width: 1400px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.communication-society-gallery-page-image {
  width: 200px;
  object-fit: cover;
}
.communication-society-gallery-page-text {
  font-size: 1.15rem;
  max-width: 60%;
  margin-top: 48px;
  margin-bottom: 48px;
}
.communication-society-gallery-page-link {
  color: var(--dl-color-gray-white);
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-weight: 400;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  margin-right: var(--dl-space-space-unit);
  padding-left: 32px;
  border-radius: 4px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.communication-society-gallery-page-link:hover {
  color: #ffffff;
  transform: scale(1.02);
  background-color: #ff393d;
}
.communication-society-gallery-page-communication-society-recent-event-word-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.communication-society-gallery-page-text08 {
  color: var(--dl-color-gray-500);
}
.communication-society-gallery-page-blog {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.communication-society-gallery-page-container02 {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  flex-direction: column;
  justify-content: space-between;
}
.communication-society-gallery-page-blog-post-card {
  width: 100%;
  display: flex;
  max-width: 1400px;
  flex-direction: row;
  justify-content: center;
}
.communication-society-gallery-page-image1 {
  width: 500px;
  object-fit: cover;
}
.communication-society-gallery-page-container03 {
  flex: 1;
  display: flex;
  padding: 32px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.communication-society-gallery-page-text09 {
  color: var(--dl-color-gray-500);
  font-style: normal;
  font-weight: 600;
  margin-bottom: 24px;
  text-transform: uppercase;
}
.communication-society-gallery-page-text10 {
  margin-bottom: 48px;
}
.communication-society-gallery-page-container04 {
  display: flex;
  align-items: flex-start;
  margin-bottom: 48px;
  flex-direction: column;
  justify-content: flex-start;
}
.communication-society-gallery-page-text11 {
  color: var(--dl-color-gray-500);
  margin-bottom: var(--dl-space-space-halfunit);
}
.communication-society-gallery-page-container05 {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  flex-direction: column;
  justify-content: space-between;
}
.communication-society-gallery-page-blog-post-card1 {
  width: 100%;
  display: flex;
  max-width: 1400px;
  flex-direction: row;
  justify-content: center;
}
.communication-society-gallery-page-image2 {
  width: 500px;
  object-fit: cover;
}
.communication-society-gallery-page-container06 {
  flex: 1;
  display: flex;
  padding: 32px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.communication-society-gallery-page-text12 {
  color: var(--dl-color-gray-500);
  font-style: normal;
  font-weight: 600;
  margin-bottom: 24px;
  text-transform: uppercase;
}
.communication-society-gallery-page-text13 {
  margin-bottom: 48px;
}
.communication-society-gallery-page-container07 {
  display: flex;
  align-items: flex-start;
  margin-bottom: 48px;
  flex-direction: column;
  justify-content: flex-start;
}
.communication-society-gallery-page-text14 {
  color: var(--dl-color-gray-500);
  margin-bottom: var(--dl-space-space-halfunit);
}
.communication-society-gallery-page-blog-post-card2 {
  width: 100%;
  display: flex;
  max-width: 1400px;
  flex-direction: row;
  justify-content: center;
}
.communication-society-gallery-page-image3 {
  width: 500px;
  object-fit: cover;
}
.communication-society-gallery-page-container08 {
  flex: 1;
  display: flex;
  padding: 32px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.communication-society-gallery-page-text15 {
  color: var(--dl-color-gray-500);
  font-style: normal;
  font-weight: 600;
  margin-bottom: 24px;
  text-transform: uppercase;
}
.communication-society-gallery-page-text16 {
  margin-bottom: 48px;
}
.communication-society-gallery-page-container09 {
  display: flex;
  align-items: flex-start;
  margin-bottom: 48px;
  flex-direction: column;
  justify-content: flex-start;
}
.communication-society-gallery-page-text17 {
  color: var(--dl-color-gray-500);
  margin-bottom: var(--dl-space-space-halfunit);
}
.communication-society-gallery-page-banner {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 64px;
  padding-left: 48px;
  padding-right: 48px;
  flex-direction: column;
  padding-bottom: 64px;
  background-size: cover;
  justify-content: space-between;
  background-image: url('https://images.unsplash.com/photo-1485628390555-1a7bd503f9fe?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE3fHxhcmNoaXRlY3R1cmUlMjBtaW5pbWFsfGVufDB8fHx8MTYyNjE4NDA0Mg&ixlib=rb-1.2.1&w=1500');
  background-position: center;
}
.communication-society-gallery-page-text18 {
  font-size: 0.75rem;
  text-align: center;
  font-weight: 600;
  margin-bottom: 32px;
  letter-spacing: 2px;
}
.communication-society-gallery-page-text19 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.communication-society-gallery-page-text20 {
  max-width: 1400px;
  text-align: center;
  margin-bottom: 32px;
}
@media(max-width: 1600px) {
  .communication-society-gallery-page-container {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  .communication-society-gallery-page-hero {
    width: 1453px;
    height: 709px;
    border-radius: 12px;
    background-size: cover;
    background-image: url("public/Pic/commsocietybanner-1500h.png");
  }
  .communication-society-gallery-page-container01 {
    width: 1194px;
  }
  .communication-society-gallery-page-image {
    width: 181px;
    height: 177px;
    margin-bottom: var(--dl-space-space-doubleunit);
  }
  .communication-society-gallery-page-text {
    font-size: 42px;
    align-self: flex-start;
    font-style: normal;
    margin-top: 0px;
    font-weight: 600;
    margin-bottom: 0px;
  }
  .communication-society-gallery-page-text01 {
    color: #ffffff;
  }
  .communication-society-gallery-page-text02 {
    color: #e60004;
  }
  .communication-society-gallery-page-text03 {
    color: #ffffff;
  }
  .communication-society-gallery-page-link {
    color: #000000;
    font-style: inherit;
    margin-top: var(--dl-space-space-doubleunit);
    font-weight: 700;
    background-color: #e60004;
  }
  .communication-society-gallery-page-communication-society-recent-event-word-container {
    margin-top: 100px;
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 28px;
  }
  .communication-society-gallery-page-text04 {
    margin-top: var(--dl-space-space-halfunit);
    text-align: left;
    margin-right: 0px;
  }
  .communication-society-gallery-page-text05 {
    color: #e60004;
  }
  .communication-society-gallery-page-text06 {
    color: #0027ff;
  }
  .communication-society-gallery-page-text08 {
    color: var(--dl-color-gray-500);
  }
  .communication-society-gallery-page-blog {
    padding: var(--dl-space-space-doubleunit);
    border-color: #e60004;
    border-width: 10px;
    margin-bottom: var(--dl-space-space-quadruple);
  }
  .communication-society-gallery-page-text11 {
    color: var(--dl-color-gray-500);
  }
  .communication-society-gallery-page-text14 {
    color: var(--dl-color-gray-500);
  }
  .communication-society-gallery-page-text17 {
    color: var(--dl-color-gray-500);
  }
  .communication-society-gallery-page-banner {
    width: 1402px;
    background-size: cover;
    background-image: url("public/Pic/commsociety-1500w.png");
  }
  .communication-society-gallery-page-text18 {
    color: rgb(255, 255, 255);
  }
  .communication-society-gallery-page-text19 {
    color: rgb(255, 255, 255);
    font-size: 3rem;
  }
  .communication-society-gallery-page-text20 {
    color: rgb(255, 255, 255);
  }
}
@media(max-width: 991px) {
  .communication-society-gallery-page-image1 {
    width: 50%;
  }
  .communication-society-gallery-page-image2 {
    width: 50%;
  }
  .communication-society-gallery-page-image3 {
    width: 50%;
  }
  .communication-society-gallery-page-text20 {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .communication-society-gallery-page-hero {
    align-items: center;
    padding-left: 32px;
    padding-right: 32px;
  }
  .communication-society-gallery-page-text {
    max-width: 100%;
    text-align: center;
    padding-left: 48px;
    padding-right: 48px;
  }
  .communication-society-gallery-page-blog {
    padding-left: 32px;
    padding-right: 32px;
  }
  .communication-society-gallery-page-blog-post-card {
    flex-direction: column;
    justify-content: space-between;
  }
  .communication-society-gallery-page-image1 {
    width: 100%;
  }
  .communication-society-gallery-page-container03 {
    width: 100%;
  }
  .communication-society-gallery-page-text09 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .communication-society-gallery-page-text10 {
    margin-bottom: 32px;
  }
  .communication-society-gallery-page-container04 {
    margin-bottom: 32px;
  }
  .communication-society-gallery-page-blog-post-card1 {
    flex-direction: column;
    justify-content: space-between;
  }
  .communication-society-gallery-page-image2 {
    width: 100%;
  }
  .communication-society-gallery-page-container06 {
    width: 100%;
  }
  .communication-society-gallery-page-text12 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .communication-society-gallery-page-text13 {
    margin-bottom: 32px;
  }
  .communication-society-gallery-page-container07 {
    margin-bottom: 32px;
  }
  .communication-society-gallery-page-blog-post-card2 {
    flex-direction: column;
    justify-content: space-between;
  }
  .communication-society-gallery-page-image3 {
    width: 100%;
  }
  .communication-society-gallery-page-container08 {
    width: 100%;
  }
  .communication-society-gallery-page-text15 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .communication-society-gallery-page-text16 {
    margin-bottom: 32px;
  }
  .communication-society-gallery-page-container09 {
    margin-bottom: 32px;
  }
  .communication-society-gallery-page-banner {
    padding-left: 32px;
    padding-right: 32px;
  }
  .communication-society-gallery-page-text20 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .communication-society-gallery-page-hero {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .communication-society-gallery-page-text {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .communication-society-gallery-page-link {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .communication-society-gallery-page-blog {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .communication-society-gallery-page-banner {
    padding-top: 48px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 48px;
  }
}
