.button:hover {
  cursor: pointer;
}

.admin-dashboardhtml-container {
  width: 100%;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
  justify-content: flex-start;
}
.admin-dashboardhtml-header {
  width: 100%;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
  background-image: linear-gradient(180deg, rgb(189, 195, 199) 0.00%,rgb(69, 142, 215) 100.00%);
}
.admin-dashboardhtml-image {
  width: 200px;
  object-fit: cover;
  margin-left: 0px;
}
.admin-dashboardhtml-text {
  width: 467px;
  font-size: 3em;
  align-self: center;
  text-align: center;
  font-family: Poppins;
  margin-right: 31%;
}
.admin-dashboardhtml-container1 {
  width: 100%;
  height: 881px;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #f2f2f2;
}
.admin-dashboardhtml-sidebar {
  width: auto;
  height: 100%;
  display: flex;
  z-index: 100;
  padding-top: 50px;
  border-color: #1ea5c5;
  border-style: outset;
  border-width: 0px;
  padding-left: 50px;
  padding-right: 50px;
  flex-direction: column;
  padding-bottom: 50px;
  background-color: #f2f2f2;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 1px;
  border-bottom-width: 0px;
}
.admin-dashboardhtml-nav {
  width: 150px;
  height: 300px;
  display: flex;
  margin-top: var(--dl-space-space-fiveunits);
  padding-top: 0px;
  padding-left: var(--dl-space-space-halfunit);
  margin-bottom: 125%;
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: space-between;
}
.admin-dashboardhtml-button {
  background-color: rgb(164, 208, 255);
}
.admin-dashboardhtml-button1 {
  background-color: #a4d0ff;
}
.admin-dashboardhtml-button2 {
  background-color: #a4d0ff;
}
.admin-dashboardhtml-button3 {
  background-color: #a4d0ff;
}
.admin-dashboardhtml-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.admin-dashboardhtml-text07 {
  width: 22%;
  align-self: flex-start;
  margin-top: 0px;
  text-align: center;
  font-family: Poppins;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-black);
  border-style: dashed;
  border-width: 1px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.admin-dashboardhtml-feature-card {
  width: 80%;
  height: auto;
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-fourunits);
  margin-left: 0px;
  padding-top: var(--dl-space-space-unit);
  margin-right: 0px;
  padding-left: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: 0px;
}
.admin-dashboardhtml-lottie-node {
  width: 350px;
  height: 252px;
}
.admin-dashboardhtml-container3 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: flex-start;
}
.admin-dashboardhtml-text08 {
  font-size: 2rem;
  font-family: PT Sans;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.admin-dashboardhtml-text09 {
  font-size: 20px;
  font-family: Inter;
}
.admin-dashboardhtml-feature-card1 {
  width: 80%;
  height: auto;
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-fourunits);
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
}
.admin-dashboardhtml-lottie-node1 {
  width: 350px;
  height: 252px;
}
.admin-dashboardhtml-container4 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: flex-start;
}
.admin-dashboardhtml-text10 {
  font-size: 2rem;
  font-family: PT Sans;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.admin-dashboardhtml-text11 {
  font-size: 20px;
  font-family: Inter;
}
@media(max-width: 767px) {
  .admin-dashboardhtml-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .admin-dashboardhtml-sidebar {
    height: 70vh;
  }
  .admin-dashboardhtml-feature-card {
    flex-direction: row;
  }
  .admin-dashboardhtml-container3 {
    flex-direction: column;
  }
  .admin-dashboardhtml-feature-card1 {
    flex-direction: row;
  }
  .admin-dashboardhtml-container4 {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .admin-dashboardhtml-header {
    padding: var(--dl-space-space-unit);
  }
  .admin-dashboardhtml-container3 {
    flex-direction: column;
  }
  .admin-dashboardhtml-container4 {
    flex-direction: column;
  }
}
