<div>
  <link href="./navbar.css" rel="stylesheet" />
  <nav id="NavBar" data-role="Header" class="navbar-navbar">
    <img
      alt="image"
      src="public/Pic/mmu-short-logo-200h.png"
      class="navbar-image"
    />
    <div class="navbar-right-side">
      <div class="navbar-links-container">
        <a href="landing-page.html" class="navbar-home"><span>Home</span></a>
        <div data-thq="thq-dropdown" class="navbar-thq-dropdown list-item">
          <div data-thq="thq-dropdown-toggle" class="navbar-dropdown-toggle">
            <span class="navbar-text">Club Details</span>
            <div data-thq="thq-dropdown-arrow" class="navbar-dropdown-arrow">
              <svg viewBox="0 0 1024 1024" class="navbar-icon">
                <path d="M426 726v-428l214 214z"></path>
              </svg>
            </div>
          </div>
          <ul data-thq="thq-dropdown-list" class="navbar-dropdown-list">
            <li data-thq="thq-dropdown" class="navbar-dropdown list-item">
              <a href="i-society-gallery-page.html">
                <div
                  data-thq="thq-dropdown-toggle"
                  class="navbar-dropdown-toggle-i-society"
                >
                  <span class="navbar-text1">IT Society</span>
                </div>
              </a>
            </li>
            <li data-thq="thq-dropdown" class="navbar-dropdown1 list-item">
              <a href="japanese-culture-society-gallery-page.html">
                <div
                  data-thq="thq-dropdown-toggle"
                  class="navbar-dropdown-toggle-japanese-cultural-society"
                >
                  <span class="navbar-text2">Japanese Cultural Society</span>
                </div>
              </a>
            </li>
            <li data-thq="thq-dropdown" class="navbar-dropdown2 list-item">
              <a href="christian-fellowship-gallery-page.html">
                <div
                  data-thq="thq-dropdown-toggle"
                  class="navbar-dropdown-toggle-i-society1"
                >
                  <span class="navbar-text3">Christian Fellowship</span>
                </div>
              </a>
            </li>
            <li data-thq="thq-dropdown" class="navbar-dropdown3 list-item">
              <a href="cyberjaya-accounting-club-gallery-page.html">
                <div
                  data-thq="thq-dropdown-toggle"
                  class="navbar-dropdown-toggle1"
                >
                  <span class="navbar-text4">Cyberjaya Accounting Club</span>
                </div>
              </a>
            </li>
            <li data-thq="thq-dropdown" class="navbar-dropdown4 list-item">
              <a href="communication-society-gallery-page.html">
                <div
                  data-thq="thq-dropdown-toggle"
                  class="navbar-dropdown-toggle2"
                >
                  <span class="navbar-text5">Communication Society</span>
                </div>
              </a>
            </li>
            <li data-thq="thq-dropdown" class="navbar-dropdown5 list-item">
              <a href="swimming-club-gallery-page.html">
                <div
                  data-thq="thq-dropdown-toggle"
                  class="navbar-dropdown-toggle3"
                >
                  <span class="navbar-text6">Swimming Club</span>
                </div>
              </a>
            </li>
          </ul>
        </div>
        <a href="gallery-page.html" class="navbar-gallery">
          <span>Gallery</span>
        </a>
        <a href="about-us-page.html" class="navbar-about"><span>About</span></a>
        <a href="login-page.html" class="navbar-navlink6">
          <div class="solid-button2-container solid-button2-root-class-name">
            <button class="solid-button2-button button">
              <span>Log in</span>
            </button>
          </div>
        </a>
        <a href="registration-page.html" class="navbar-navlink7">
          <div class="solid-button-container solid-button-root-class-name1">
            <button class="solid-button-button button">
              <span>Register Now</span>
            </button>
          </div>
        </a>
      </div>
    </div>
  </nav>
</div>
