<div>
  <link href="./place-card.css" rel="stylesheet" />
  <div class="place-card-container">
    <img
      alt="image"
      src="75f60a6b-2ad1-4ac7-a5ce-3f16427ec4ff"
      class="place-card-image"
    />
    <div class="place-card-container1">
      <span class="place-card-text"><span>Club Name</span></span>
      <span class="place-card-text1">
        <span>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna.
        </span>
      </span>
      <div class="outline-button-container outline-button-root-class-name">
        <button type="button" class="outline-button-button button Button">
          <span>View Gallery</span>
        </button>
      </div>
    </div>
  </div>
</div>
